@charset "utf-8";
/* CSS Document */

.gifbackground {
	background-image: url(https://farm4.static.flickr.com/3618/3697567056_45ae16f677_o.gif)
}

.ybackground {
	background-image: url(images/buyashutter.jpg);
}

body {
	background-image: url("images/background.png");
}

.yes {
	font-size: 200%;
	margin: 10px;
	font-family: Courier;
}

.yes2 {
	font-size: 200%;
	margin: 10px;
	font-family: Courier;
	height: 30px;
	text-align: center;
}

.txt1 {
	font-size: 150%;
	font-family: "Comic Sans MS";
	padding: 10%;
}

.column1 {
	float: left;
	background-image: url("images/background2.jpg");
	background-repeat: repeat;
	background-size: contain;
	width: 49%;
	display: block;
}

.column2 {
	float: right;
	background-image: url("images/background3.jpg");
	background-repeat: repeat;
	background-size: contain;
	width: 49%;
	display: block;
}

.idiotscentral {
	clear: both;
	display: block;
	margin: auto;
	background-image: url("images/fuckyou.jpg");
	background-repeat: no-repeat;
	background-size: contain;
	width: 80%;
	height: 658px;
	position: static;
}

.idiotscentral img {
	width: 90%;
	margin: auto;
	display: block;
}

.idiotscentral h2{
	color: red;
	background-color: black;
	width: 100%;
	text-align: center;
	font-family: Courier;
	font-size: 130%;
}

.idiotscentral h1 {
	color: aqua;
	font-size: 300%;
	width: 40%;
	background-color: red;
}

.importanttext {
	font-size: 150%;
	color: #FFFFFF;
	background-color: blue;
	font-family: "Comic Sans MS"
}

.importanttext2 {
	font-size: 200%;
	color: #0C1D35;
	font-family: "Comic Sans MS"
}

.cancellingchrome {
	text-align: center;
	font-family: "Arial";
	background-color: aqua;
	font-size: 110%;
}

.badimgleft {
	float: left;
	width: 70%;
	margin-left: 10px;
}

.aboutlink {
	padding: none;
	font-size: 300%;
	background-image: url(http://farm4.static.flickr.com/3618/3697567056_45ae16f677_o.gif);
}

.imageme {
	width: 30%;
	display: block;
	margin: auto;
}

.textabout {
	text-align: center;
	background-color: white;
	width: 40%;
	margin: auto;
}

.contactbg {
	background-image: url("images/background2.jpg");
	background-size: contain;
}

.h1h1h1 {
	display: block;
	margin: auto;
	width: 70%;
	padding: 5%;
	font-size: 200%;
	color: white;
}

.mambo {
	width: 80%;
	margin: auto;
	display: block;
	background-image: url("images/background.gif");
	background-size: contain;
}

.rantsp {
	background-color: yellow;
	padding: 20px;
}

.cm {
	background-image: url("images/backgroundinverse.png");
	display: block;
	margin: auto;
	width: 80%;
	text-align: center;
	font: courier;
	font-size: large;
}

.yhd {
	background-color: rgba(100, 255, 255, 50%);
	width: 50%;
}

.yname {
	font-family: 'Gloria Hallelujah', cursive;
	font-size: 150%;
	background-color: rgba(255, 255, 255, 50%);
	width: 20%;
	text-align: center;
	margin: auto;
}

.ycontent {
	background-color: rgba(255, 255, 250, 55%);
	width: 20%;
	text-align: center;
	margin: auto;
}
